* {
    font-family: 'Kanit', sans-serif;
}

body { 
    margin: 0px;
    padding: 0px;
    background: url(../assets/bg.png);
    transition: .3s;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.container-main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container-top {
    width: 100%;
    margin: 70px auto 20px auto;
}

.container-switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-switch .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type=checkbox] { 
	height: 0;
	width: 0;
	visibility: hidden;
}

.slider {
    position: absolute;
    cursor: grab;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808B96;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #ffc500;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ffc500;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.switch-label {
    margin-right: 10px
}

.container-left {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 40px;
}

.container-right {
    margin-left: 10px;
    margin-right: auto;
}

.card-left {
    width: 300px;
    height: 600px;
}

.container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.nav-item, .nav-item-left, .nav-item-right {
    border: none;
    padding: 30px 5px;
    width: 100%;
    /* font-weight: bold; */
    text-align: center;
    background-color: #ffffff;
    /* -webkit-transition: .3s; */
    /* -o-transition: .3s; */
    /* transition: .3s; */
}

.nav-item:hover, .nav-item-left:hover, .nav-item-right:hover {
    color: #ffc500;
    cursor: pointer;
}

.nav-item-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-item-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 650px;
    padding: 20px;
}

#content-home {
    display: -webkit-box;    display: -ms-flexbox;    display: flex;
}

#content-resume {
    display: none;
}

#content-portfolio {
    display: none;
}

#content-contact {
    display: none;
}

.container-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container-info img {
    width: 100%;
}

.container-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    
}

.content-top {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
}

.content-footer {
    padding: 20px;
    width: 100%;
    margin: 10px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    cursor: text;
}

.content-footer label {
    color: #ffff;
    font-size: 15px;
}

.title { 
    font-size: 25px;
    margin: 10px 0px 40px 0px;
}

.container-skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.skill-design {
    width: 50%;
    padding: 0px 20px 0px 0px;
}

.skill-coding {
    width: 50%;
    padding: 0px 0px 0px 20px;
}

.content-skill-title {
    font-size: 14px;
    margin: 20px 0px 5px 0px;
}

progress {
    -webkit-appearance: none;
    width: 100%;
}

progress::-webkit-progress-bar {
    background: none;
}

progress::-webkit-progress-value {
    background: #ffc500;
}

.container-timeline { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.timeline-working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
}

.timeline-education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
}

.title-timeline {
    font-size: 20px;
    padding: 15px 0px 0px 15px;
}

.container-icon {
    background-color: #ffc500;
    height: 20px;
    padding: 15px;
    border-radius: 40px;
    width: 20px;
    color: #000;
}

.container-icon #icon-working {
    padding-left: 2.3px;
}

.title-icon {
    width: 20px;
}

.container-title {
    display: -webkit-box;    display: -ms-flexbox;    display: flex;
}

.container-timeline-content ul {
    margin-left: -40px;
    margin-top: 0px;
    list-style: none;
}

.container-timeline-content li::before {
    content: "";
    border: solid 2px;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    font-size: 8px;
    margin-left: -30px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
    margin-top: -1px;
    color: #ffc500;
}

.container-timeline-content li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 25px;
    margin-left: 25px;
}

.border-left-light {
    border-left: 2px solid lightgray;
}

.container-group li:last-child {
    border: none;
    margin-left: 26.5px;
}

.container-group li {
    padding-right: 10px;
}

.border-left-light-hide {
    border-left: 2px solid white;
}

.container-timeline-content p {
    color: gray;
    padding-bottom: 20px;
    font-size: 13px;
}

.container-timeline-content span {
    font-size: 13px;
}

.container-timeline-content label {
    margin-top: -9.5px;
}

.container-hobby {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 70px;
}

.container-hobby .card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    width: 150px;
    /* -webkit-transition: .3s; */
    /* -o-transition: .3s; */
    /* transition: .3s; */
}

.container-hobby .card:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container-hobby .card img {
    width: 40px;
    margin-bottom: 10px;
}

.hobby-title {
    padding: 10px 0px 5px 0px;
}

.hobby-content {
    font-size: 13px;
    color: gray;
}

.container-port {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.container-port .card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    overflow: hidden;
}

.container-port .card:last-child {
    flex-grow: 1;
    -webkit-box-flex: 1;
    height: 0px;
}

.container-port img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    transition: .3s;
    transform: scale(1.0);    
}

.container-port img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container-port .card:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container-port .card:last-child:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container-port .detail {
    padding: 10px;
}

.card-port {
    position: relative;
}

.more {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: .3s;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.more #icon {
    color: #fff;
}

.more #icon-bg {
    color: #ffd037;
}

.card-port:hover .more{
    display: block;
    cursor: pointer;
}

.port-title {
    padding: 0px 0px 0px 0px;
}

.port-content {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

.container-detail ul {
    margin-left: -40px;
    margin-top: 0px;
    list-style: none;
}

.container-detail li::before {
    content: "";
    border: solid 2px;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    font-size: 8px;
    margin-left: -30px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
    margin-top: -1px;
    color: #ffc500;
}

.container-detail li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 25px;
    margin-left: 25px;
}

.container-detail label {
    margin-top: -9.5px;
    margin-bottom: 20px;
}

.container-info-icon {
    background-color: #ffc500;
    height: 20px;
    width: 20px;
    padding: 15px;
    border-radius: 40px;
    z-index: 1;
}

.container-info-icon img {
    padding: 0px;
}

.container-info .container-detail {
    margin-top: -25px;
    margin-left: 20px;
}

.container-info .avatar {
    padding: 0;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    margin-top: 40px;
}

.container-contact {
    display: flex;
    justify-content: center;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contact-detail label {
    margin-bottom: 20px;
}

.container-info-social {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px 0 20px 0;
}

.social-btn {
    cursor: pointer;
}

.container-link {
    display: flex;
    justify-content: flex-end;
}

.container-link i {
    color: #000;
}

.link-btn {
    padding: 10px;
    background-color: lightgray;
    border-radius: 50px;
    transition: .3s;
}

.link-btn:hover {
    background-color: gray;
    cursor: pointer;
}

.container-corner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-lang {
    margin-bottom: 10px;
}

.container-lang input {
    border: none;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 50px;
}

.container-lang input:disabled {
    background-color: #ffc500;
    color: #000;
}

.container-lang input:hover {
    background-color: #ffd037;
    cursor: pointer;
}

.container-lang input:focus {
    outline: none;
}

.container-exp {
    display: flex;
    flex-direction: column;
}

.container-exp-sub {
    display: flex;
    flex-wrap: wrap;
}

.container-exp .card:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container-exp label {
    width: 150px;
    padding: 10px;
    margin: 0 20px 20px 0;
}

.container-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.container-modal:focus {
    outline: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal-bottom {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgray;
    padding: 10px 0 10px 0;
    position: fixed;
    width: 100%;
}

.modal-bottom-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal-bottom-2 span {
    margin: 10px 20px 10px 20px;
    cursor: pointer;
}

.modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 10px;
}

.modal-remain-container {
    background-color: lightgray;
    width: 50px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
}

.modal-close-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    margin-top: 10px;
}

.modal-content, span label {
    color: #000;
}

.modal-container-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 30%;
}

.content img {
    display: none;
    width: 100%;
}

.content img:first-child {
    display: block;
}

.modal-close {
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #ffd037;
    margin-right: 20px;
    transition: .3s;
}

.modal-close:hover {
    background-color: #ffaf37;
    cursor: pointer;
}

.modal-previous, .modal-next {
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: #ffd037;
    transition: .3s;
}

.modal-previous {
    margin-left: 20px;
}

.modal-next {
    margin-right: 20px;
}

.icon {
    padding-top: 10px;
}

.container-arrow span:hover {
    background-color: #ffaf37;
    cursor: pointer;
}

.content {
    margin: auto;
    width: fit-content;
}

@media only screen and (max-width: 1100px) {
    .container-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0px;
    }

    .container-main-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-top {
        width: 90%;
    }

    .content-top {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-left {
        width: 100%;
        margin-bottom: 10px;
    }

    .container-right {
        margin-left: none;
        margin-right: none;
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }
    
    .content-footer {
        margin-left: auto;
        margin-right: auto;
    }

    .card-left {
        width: 100%;
        height: 100%;
    }

    .container-nav {
        width: auto;
    }
    
    .container-content {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto;
    }

    .container-skill {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .skill-design {
        width: 100%;
        padding: 0px;
    }
    
    .skill-coding {
        width: 100%;
        padding: 0px;
        margin: 40px 0px 0px 0px;
    }

    .container-timeline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .container-info {
        width: auto;
    }

    .timeline-working {
        width: 100%;
    }

    .timeline-education {
        width: 100%;
    }
}