.dark-mode {
    background-color: #17202A;
    color: #fff;
}

.btn-dark {
    background-color: #212F3D;
}

.card-dark {
    background-color: #212F3D;
}

.card-dark-sub {
    background-color: #2C3E50;
}

.content-dark {
    background-color: #212F3D;
}

.border-left-dark {
    border-left: 2px solid #212F3D;
}

.footer-dark {
    background-color: 2px solid #808B96;
}