.parent-leave-days {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 3; 
}

.div2 { 
    grid-area: 2 / 1 / 3 / 2;
}

.div3 { 
    grid-area: 3 / 1 / 4 / 2; 
    border-bottom: solid 2px white;
    border-right: solid 2px white;
}

.div4 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.div5 { 
    grid-area: 3 / 2 / 4 / 3; 
    border-bottom: solid 2px white;
}

.div6 { 
    grid-area: 4 / 1 / 5 / 2; 
    border-right: solid 2px white;

}

.div7 { 
    grid-area: 5 / 1 / 6 / 2; 
    border-right: solid 2px white;
}

.div8 { 
    grid-area: 4 / 2 / 5 / 3; 
}

.div9 { 
    grid-area: 5 / 2 / 6 / 3; 
}

.parent-pending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    margin-bottom: 20px;
}
    
.div10 { 
    grid-area: 1 / 1 / 2 / 2;
}

.div11 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.header-label {
    text-align: left;
    padding: 10px;
}

.value {
    font-size: xx-large;
    padding-left: 10px;
    padding-top: 10px;
}

.label {
    text-align: left;
    padding-left: 10px;
}