.leave-card {
    margin-bottom: 20px;
}

.leave-card .leave-content {
    display: flex;
    flex-direction: column;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 5px;
}
.div2 { 
    grid-area: 2 / 1 / 3 / 2; 
    padding-bottom: 5px;
}
.div3 { 
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 5px;
}
.div4 { grid-area: 2 / 2 / 3 / 3; }

.leave-card .leave-label {
    text-align: left;
    font-weight: bold;
    text-align: center;
}

span {
    color: red;
}

.leave-card input[type=date] {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: solid 1px lightgray;
    background: white;
    width: 90%;
}

.start {
    margin-right: 5px;
}

.end {
    margin-left: 5px;
}

.input-reasons {
    width: 94%;
    padding: 5px;
    border: solid 1px lightgray;
    background: white;
}

@media only screen and (max-width: 700px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start {
        margin: 0;
    }
    
    .end {
        margin: 0px;
    }

    .container-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .leave-card input[type=date] {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border: solid 1px lightgray;
        background: white;
        width: 95%;
        margin-bottom: 10px;
    }
}

.leave-card .sick {
    display: block;
}

.leave-card .business {
    display: none;
}

.leave-card .vacation {
    display: none;
}

.leave-card .substitution {
    display: none;
}

.leave-type-bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    border-radius: 25px;

}

.leave-type-bar .leave-select-sick {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.leave-type-bar .leave-select-substitution {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.leave-type-bar input {
    flex-grow: 1;
    background-color: #F2F3F4;
    border: none;
    padding: 5px 15px;
    height: 50px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    /* box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.leave-select-sick:hover {
    background-color: #E74C3C;
}

.leave-select-business:hover {
    background-color: #3498DB;
}

.leave-select-vacation:hover {
    background-color: #F39C12;
}

.leave-select-substitution:hover {
    background-color: #2ECC71;
}

.leave-type-bar input:focus {
    outline: none;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.btn-file {
    border: none;
    padding: 15px;
    background-color: #F2F3F4;
    text-align: center;
    border-radius: 35px;
    height: 55px;
}

#file-name {
    margin-bottom: 10px;
}

.reasons-container {
    padding: 10px;
}

.summary {
    padding-bottom: 5px;
    padding-top: 10px;
}

.days {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: xx-large;
}

.card-submit {
    border: none;
    background-color: #F2F3F4;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}

.card-submit:hover {
    background-color: #5499C7;
}

.card-submit:focus {
    outline: none;
}

img {
    width: 25px;
}