* {
    font-family: sans-serif;
}

.avatar-container {
    display: flex;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.avatar img {
    width: 50px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}